In [1]:
import pandas as pd

df = pd.read_csv('sfo_flight_data.csv')
df

      DateTime  Scheduled flights  Tracked flights
0   2025-06-10                607              599
1   2025-06-11                603              590
2   2025-06-12                618              604
3   2025-06-13                627              617
4   2025-06-14                603              588
5   2025-06-15                606              595
6   2025-06-16                638              621
7   2025-06-17                612              601
8   2025-06-18                611              598
9   2025-06-19                610              595
10  2025-06-20                631              609
11  2025-06-21                594              587
12  2025-06-22                602              596
13  2025-06-23                625              619
14  2025-06-24                605              592
15  2025-06-25                591              583
16  2025-06-26                624              607
17  2025-06-27                630              612
18  2025-06-28                606              583
19  2025-06-29                593              573
20  2025-06-30                621              607
21  2025-07-01                602              595
22  2025-07-02                593              573
23  2025-07-03                625              606
24  2025-07-04                588              578
25  2025-07-05                513              509
26  2025-07-06                590              574
27  2025-07-07                629              624
28  2025-07-08                603              590
29  2025-07-09                600              579